<div class="section   section-blends section-full bento-section">
  <h2 class="h2 bento-margin ">Shop By Category</h2>
  <div class="bento-grid">
    <a class="item galaxy-watch" href="{{ settings.galaxywatchurl }}">
      <div>
        <div class="galaxy-watch-text text text-wrap">
          <p class="bold">Galaxy Watch</p>
          <p class="shop">Shop Now</p>
        </div>
        <div class="circle-gradient"></div>
        <div class="galaxy-watch-img img">
          <img src="{{ 'Galaxywatch.png' | asset_url }}" width="100%" height="100%" alt="Galaxy Watch">
        </div>
      </div>
    </a>

    <a class="item galaxy-tab" href="{{ settings.galaxytaburl }}">
      <div>
        <div class="galaxy-tab-text text text-wrap">
          <p class="bold">Galaxy Tab</p>
          <p class="shop">Shop Now</p>
        </div>
        <div class="galaxy-tab-img img">
          <img src="{{ 'glaxytab.png' | asset_url }}" width="100%" height="100%" alt="Galaxy Tab">
        </div>
      </div>
    </a>

    <a class="item google-pixel" href=" {{ settings.googlepixelurl }}">
      <div>
        <div class="google-pixel-text text text-wrap">
          <p class="bold">Google Pixel</p>
          <p class="shop">Shop Now</p>
        </div>
        <div class="google-pixel-img img">
          <img src="{{ 'googlepixel.png' | asset_url }}" width="100%" height="100%" alt="Google Pixel">
        </div>
      </div>
    </a>

    <a class="item samsung-galaxy" href="{{ settings.samsunggalaxyurl }}">
      <div>
        <div class="samsung-galaxy-text text text-wrap">
          <p class="bold">Samsung Galaxy</p>
          <p class="shop">Shop Now</p>
        </div>
        <div class="samsung-galaxy-overlay"></div>
        <div class="samsung-galaxy-img img">
          <img src="{{ 'SamsungGalaxy.png' | asset_url }}" width="100%" height="100%px" alt="Samsung Galaxy">
        </div>
      </div>
    </a>

    <a class="item iphone" href="{{ settings.iphoneurl }}">
      <div>
        <div class="iphone-text text text-wrap">
          <p class="bold h2">iPhone</p>
          <p class="shop">Shop Now</p>
        </div>
        <div class="iphone-siriglow">
          <img src="{{ 'siriglow.png' | asset_url }}" width="100%" height="100%" alt="Siri Glow">
        </div>
        <div class="iphone-img img">
          <img src="{{ 'iphoneimg.png' | asset_url }}" width="100%" height="100%" alt="iPhone">
        </div>
      </div>
    </a>

    <a class="item apple-watch" href="{{ settings.applewatchurl }}">
      <div>
        <div class="apple-watch-text text text-wrap">
          <p class="bold h3">Apple Watch</p>
          <p class="shop">Shop Now</p>
        </div>
        <div class="apple-watch-ellipse-up"></div>
        <div class="apple-watch-img-up">
          <img src="{{ 'applewatchup.png' | asset_url }}" width="100%" height="100%" alt="Apple Watch Up">
        </div>
        <div class="apple-watch-ellipse-down"></div>
        <div class="apple-watch-img-down">
          <img src="{{ 'applewatchdown.png' | asset_url }}" width="100%" height="100%" alt="Apple Watch Down">
        </div>
      </div>
    </a>

    <a class="item ipad" href="{{ settings.ipadurl }}">
      <div>
        <div class="ipad-text text text-wrap">
          <p class="bold h6">iPad</p>
          <p class="shop">Shop Now</p>
        </div>
        <div class="ipad-img img">
          <img src="{{ 'ipad.png' | asset_url }}" width="100%" height="100%" alt="iPad">
        </div>
      </div>
    </a>

    <a class="item game" href="{{ settings.gamingconsolesurl }}">
      <div>
        <div class="game-text text text-wrap">
          <p class="bold">Gaming consoles</p>
          <p class="shop">Shop Now</p>
        </div>
        <div class="game-img img">
          <img src="{{ 'game.png' | asset_url }}" width="100%" height="100%" alt="iPad">
        </div>
      </div>
    </a>

    <a class="item airpods" href="{{ settings.airpodsurl }}">
      <div>
        <div class="ipad-text text text-wrap">
          <p class="bold h6">AirPods</p>
          <p class="shop">Shop Now</p>
        </div>
        <div class="airpods-img img">
          <img src="{{ 'airpodsimg.png' | asset_url }}" width="100%" height="100%" alt="airpds">
        </div>
      </div>
    </a>
  </div>
</div>

<style>
  .img{
    z-index: -1;
  }
    .bento-section{
      padding-block-start:unset !important;
      padding-block-end:unset !important
    }

    .bento-margin{
      margin-bottom:48px;
    }

    .item {
      overflow: hidden;
      position: relative;
      border-radius: 16px;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      z-index: 1;
    }

    .item::after {
      content: '→';
      position: absolute;
      width: 30px;
      height: 20px;
      right: 0;
      top: 20px;
      opacity: 0;
      transform: translateX(-30px);
      transition: all 0.3s ease-in-out;
      pointer-events: none;
    }

    .item:hover::after {
      opacity: 1;
      transform: translateX(0);
    }

    .item img {
      transition: all 0.3s ease-in-out;
    }

    .item:hover img:not(.iphone-siriglow) {
      transform: scale(1.1);
    }
    .item:hover .iphone-siriglow img {
      transform: none;
    }


    .bento-grid {
      display: grid;
      grid-template-columns: 0.5fr 0.5fr 2fr 0.5fr 0.5fr;
      grid-template-rows: repeat(4, auto);
      gap: 16px;
      margin: auto;
      border-radius: 16px;
      justify-content: center;
    }

    .galaxy-watch {
      grid-area: 1/ 1 / 2 / 2;
      background: #fbffee;
      height: 188px;
    }

    .circle-gradient {
      position: absolute;
      width: 88px;
      height: 88px;
      border-radius: 9999px;
      right: -36px;
      bottom: -40px;
      transform: rotate(305deg);
      background: linear-gradient(183.56deg, #e7ff9f 2.93%, rgba(236, 236, 236, 0) 48.24%);
    }

    .galaxy-watch-img {
      position: absolute;
      left: 35px;
      bottom: -10px;
    }

    .galaxy-watch-text,
    .galaxy-tab-text,
    .google-pixel-text,
    .game-text {
      position: absolute;
      top: 20px;
      left: 20px;
    }

    .galaxy-tab {
      grid-area: 1 / 2 / 2 / 3;
      background: linear-gradient(135deg, #d1f2ff, #f0ffff);
    }

    .galaxy-tab-img {
      position: absolute;
      left: 4px;
      bottom: -10px;
    }

    .google-pixel {
      grid-area: 2 / 1 / 3 / 3;
      background: #FFF9E3;
      height: 153px;
    }

    .google-pixel-img {
      position: absolute;
      bottom: 0px;
      right: 22px;
    }

    .samsung-galaxy {
      grid-area: 3 / 1 / 5 / 3;
      background: rgba(195, 175, 151, 0.3);
      height: 322px;
    }

    .samsung-galaxy-overlay {
      background: linear-gradient(360deg, #ede7e0 60%, rgba(237, 231, 224, 0) 100%);
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 79px;
      bottom: 0;
    }

    .samsung-galaxy-img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      max-width: 270px;
      width: 100%;
    }

    .samsung-galaxy-text {
      position: absolute;
      left: 50%;
      bottom: 20px;
      z-index: 2;
      transform: translateX(-50%);
    }

    .iphone {
      grid-area: 1 / 3 / 5 / 4;
    }

    .iphone-img {
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      max-width: 515px;
      width: 100%;
    }

    .iphone-siriglow {
      position: absolute;
      top: 0px;
      opacity: 25%;
    }

    .iphone-text {
      position: absolute;
      top: 40px;
      left: 50%;
      transform: translateX(-50%);
    }

    .apple-watch {
      grid-area: 1 / 4 / 3 / 6;
      background: #ececec;
    }

    .apple-watch-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
    }

    .apple-watch-ellipse-up {
      position: absolute;
      width: 332px;
      height: 332px;
      border-radius: 9999px;
      background: linear-gradient(183.56deg, #c2eb72 2.93%, rgba(236, 236, 236, 0) 48.24%);
      filter: blur(6px);
      transform: rotate(-189deg);
      top: -165px;
    }

    .apple-watch-img-up {
      position: absolute;
      top: -2px;
      left: 50%;
      transform: translateX(-50%);
      width: 173px;
    }

    .apple-watch-ellipse-down {
      position: absolute;
      width: 332px;
      height: 332px;
      border-radius: 9999px;
      background: linear-gradient(183.56deg, #ff8486 1%, rgba(236, 236, 236, 0) 50%);
      filter: blur(6px);
      transform: rotate(-3deg);
      bottom: -165px;
    }

    .apple-watch-img-down {
      position: absolute;
      bottom: -2px;
      left: 50%;
      transform: translateX(-50%);
      width: 173px;
    }

    .ipad {
      grid-area: 4 / 4 / 5 / 5;
      height: 153px;
      background: #F0f0f0;
    }

    .ipad-text {
      position: absolute;
      top: 15px;
      left: 50%;
      transform: translateX(-50%);
    }

    .ipad-img {
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      width:150px;
    }

    .game{
      background-color:#F0F0F0;
      height:153px;
      grid-area: 3 / 4 / 3 / 6;
    }

    .game-img{
    width: 177px;
    position: absolute;
    right: 0;
  }

  .game-text p{
    width:100px;
  }

  .airpods{
    background-color:#F0F0F0;
  }
  .airpods-img{
    width:110px;
    position:absolute;
    right:50%;
    bottom:0px;
    transform:translateX(50%);
  }

    .shop{
      display:none;
    }

    @media screen and (max-width: 900px) {

      .shop {
      display:block;
    }
      .bento-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
      }

      .iphone {
        grid-area: 1 / 1 / 2 /2;
      }

      .apple-watch {
        grid-area: 1 / 2 / 2 / 3;
      }
      .ipad {
        grid-area: 2 / 1 / 3 / 2;
      }

      .samsung-galaxy {
        grid-area: 2 / 2 / 3 / 3;
      }

      .galaxy-watch {
        grid-area: 3 / 1 / 4 / 2;
      }

      .galaxy-tab {
        grid-area: 3 / 2 / 4 / 3;
      }
      .google-pixel {
        grid-area: 4;
      }

      .game{
            grid-area: 5 / 1 / 6 / 3;
      }

      .airpods{
        grid-area: 4 / 2 / 5 / 3;
      }

      .airpods-img{
        max-width: 177px;
    width: 100%;
    right: 120px;
      }

      .item {
        height: 192px;
      }

       .iphone-text,
      .apple-watch-text,
      .ipad-text,
      .samsung-galaxy-text,
      .galaxy-watch-text,
      .galaxy-tab-text,
      .google-pixel-text{
        top:unset;
        bottom:unset;
        right:unset;
        left:unset;
        transform:unset;
        width:unset;
      }

      .game-text p{
    width:unset;
  }
  .game-img {
    width: 227px;
  }

      .text-wrap{
        display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
  }


      .text {
        position:absolute;

        top: 50% !important;
        left: 28px !important;
        transform: translateY(-50%);
        left: 28px !important;
                gap: 112px;
      }

      .text p{
        font: var(--text-font-style) var(--text-font-weight) var(--text-base) / 1.6 var(--text-font-family);

      }

      .galaxy-watch-img {
        right: 0px;
        left: unset;
      }

      .galaxy-tab-img {
        right: 0px;
        left: unset;
      }

      .google-pixel-img {
        right: 20px;
      }
      .iphone-img {
        right: 20px;
        max-width: 156px;
        transform: unset;
        left: unset;
      }

      .ipad-img {
        right: 20px;
        left: unset;
        transform: unset;
        max-width: 197px;
      }

      .samsung-galaxy-overlay {
        display: none;
      }

      .apple-watch-img-down,
      .apple-watch-img-up {
        width: 100px;
        right: 20px;
        left: unset;
        transform: unset;
        z-index: 1;
      }
      .apple-watch-ellipse-down,
      .apple-watch-ellipse-up {
        width: 150px;
        height: 150px;
        right: 5px;
        top: unset;
        z-index: 0;
      }

      .apple-watch-ellipse-up {
        top: -93px !important;
      }

      .samsung-galaxy-img {
        width: 100%;
        max-width: 170px;
        right: 10px;
        bottom: 0px;
        transform: unset;
        top: unset;
        left: unset;
      }

      .samsung-galaxy-text.bold.h6.text,
      .apple-watch-text.bold.h3.text {
        left: 80px;
      }
      .iphone-text.bold.h2.text,
      .ipad-text.bold.h3.text {
        left: 50px;
      }


    @media screen and (max-width: 550px) {
      .bento-grid {
        display: flex;
        flex-direction:column;
      }
     
    }

    @media screen and (max-width:628px){
           .game-img {
        width: 162px;
        bottom: 0px;
    }
    }

    @media screen and (max-width:699px){
      .bento-section{
      padding-block-start: calc(var(--background-differs-from-previous) * var(--calculated-section-spacing-block-start)) !important;
      }
    }

    @media screen and (max-width:390px){
      .google-pixel-img{
        width:150px;
      }
          .game-img {
        width: 184px;
        bottom: 0px;
    }
    }
</style>

{% schema %}
{
  "name": "Bento Grid",
  "tag": "section",
  "class": "bento-grid-section",
  "settings": [
    {
      "type": "url",
      "id": "galaxywatchurl",
      "label": "Galaxy Watch URL"
    },
    {
      "type": "url",
      "id": "galaxytaburl",
      "label": "Galaxy Tab URL"
    },
    {
      "type": "url",
      "id": "googlepixelurl",
      "label": "Google Pixel URL"
    },
    {
      "type": "url",
      "id": "iphoneurl",
      "label": "iPhone URL"
    },
    {
      "type": "url",
      "id": "applewatchurl",
      "label": "Apple Watch URL"
    },
    {
      "type": "url",
      "id": "gamingconsoleurl",
      "label": "Gaming Console URL"
    },
    {
      "type": "url",
      "id": "ipadurl",
      "label": "iPad URL"
    },
    {
      "type": "url",
      "id": "airpodsurl",
      "label": "Airpods URL"
    }
  ],
  "presets": [
    {
      "name": "Bento Grid"
    }
  ]
}
{% endschema %}
